
.container {
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.year {
  background-color: lightsteelblue;
  height: 20px;
  position: relative;
}

.interval {
  background-color: steelblue;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}

.forbidden {
  background-color: red;
}

.kategori {
  text-align: center;
  font-weight: bold;
}

.marker {
  font-size: 10px;
  color: white;
  position: absolute;
}

.start-marker {
  left: 3px;
}

.end-marker {
  right: 3px
}